description = "Default layout"
[localePicker]
==
<?php
use RainLab\Translate\Classes\Translator;
function onStart()
{

    if (class_exists('RainLab\Translate\Classes\Translator')) {
        $translator = Translator::instance();
        $this['locale'] = $translator->getLocale();
    }

    @session_start();
    if (isset($_SESSION['langset'])) return;
    if (isset($_SERVER["HTTP_CF_IPCOUNTRY"])) {
        $this['country'] = $_SERVER["HTTP_CF_IPCOUNTRY"];
    } else {
        $this['country'] = "VN";
    }

    $frSpeakingCountries = array("FR","CA","BE");

    if (in_array($this['country'], $frSpeakingCountries)) {
    
        $actual_link = "http://".$_SERVER['HTTP_HOST']."/fr".$_SERVER['REQUEST_URI'];
        $_SESSION['langset'] = true;
        $this['test'] = "fr";
        header('Location: '.$actual_link);
        exit();
    } else if($this['country'] == 'VN'){
        $actual_link = "http://".$_SERVER['HTTP_HOST']."/vn".$_SERVER['REQUEST_URI'];
        $_SESSION['langset'] = true;
        $this['test'] = "vn";
        header('Location: '.$actual_link);
        exit();
    } else {
        $actual_link = "http://".$_SERVER['HTTP_HOST']."/en".$_SERVER['REQUEST_URI'];
        $_SESSION['langset'] = true;
        $this['test'] = "en";
        header('Location: '.$actual_link);
        exit();
    }
}
?>
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}


<body id="home" class="homepage">

<header id="header">
    {% partial "nav" %}
</header><!--/header-->

<section id="get-in-touch">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">{{ "Contact" |_}}</h2>
        </div>
    </div>
</section><!--/#get-in-touch-->
{% page %}

<section id="social-list" style="background-color:#f1f1f1;">
    {% partial "social" %}
</section>
<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>
