description = "Default layout"
[localePicker]
==
<?php
use RainLab\Translate\Classes\Translator;
function onStart()
{

    if (class_exists('RainLab\Translate\Classes\Translator')) {
        $translator = Translator::instance();
        $this['locale'] = $translator->getLocale();
    }

    @session_start();
    if (isset($_SESSION['langset'])) return;
    if (isset($_SERVER["HTTP_CF_IPCOUNTRY"])) {
        $this['country'] = $_SERVER["HTTP_CF_IPCOUNTRY"];
    } else {
        $this['country'] = "VN";
    }

    $frSpeakingCountries = array("FR","CA","BE");

    if (in_array($this['country'], $frSpeakingCountries)) {
    
        $actual_link = "http://".$_SERVER['HTTP_HOST']."/fr".$_SERVER['REQUEST_URI'];
        $_SESSION['langset'] = true;
        $this['test'] = "fr";
        header('Location: '.$actual_link);
        exit();
    } else {
        $actual_link = "http://".$_SERVER['HTTP_HOST']."/en".$_SERVER['REQUEST_URI'];
        $_SESSION['langset'] = true;
        $this['test'] = "en";
        header('Location: '.$actual_link);
        exit();
    }
}
?>
==
<!DOCTYPE html>
<html lang="en">
    {% partial "meta" %}
<style type="text/css">
    #cboxContent {
        position: fixed;
        margin-top: 10px;
    }
    #cboxOverlay {
        opacity: 0.5;
    }
</style>

<body id="home" class="homepage">

<header id="header">
    {% partial "nav" %}
</header>

{% page %}

<section id="social-list" style="background-color:#f1f1f1;">
    {% partial "social" %}
</section>

<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC7FPdP64dBt8CXLaCGgxTdxRUk8MD4s2I&sensor=true"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/mousescroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/smoothscroll.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.inview.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/custom.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/responsiveslides.min.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/jquery.colorbox.js'|theme }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $(".group1").colorbox({rel:'group1', transition:"fade"});
            $(".group2").colorbox({rel:'group2', transition:"fade"});
            $(".group3").colorbox({iframe:true, innerWidth:640, innerHeight:390});
        });
    </script>   
{% framework extras %}
{% scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".group3").trigger('click');
            var hash = window.location.hash;
            if (hash == "#bonne-annee-2017") {
                $(".group1").trigger('click');
                $('#cboxLoadingGraphic').html('<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>');
            } else if (hash == "#happy-new-year-2017") {
                $(".group2").trigger('click');
                $('#cboxLoadingGraphic').html('<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>');
            }    
            });
    </script>
    </body>
</html>
