title = "Catagory blogs"
url = "/:slug?:page"
layout = "default"



[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

==
<?php

    function onTest()
    {
        $this['value1'] = input('activites');
        $this['value2'] = input('themes');
        $this['value3'] = input('year');
    }
?>
==

{% put head %}
    <title>{{ category.name }}</title>
    <meta name="description" content="">

{% endput %}


<style type="text/css" media="screen">
    .right {
        background-color: #ddd;
    }
    
    
</style>


<section id="get-in-touch" style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" >
    <div class="container" >
        <div class="section-header category"  >
            <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">{{ category.name }} </h2> 
            
           <!--  style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" -->

           
        </div>
    </div>
</section>

<section>
    {% partial 'filter' %}

</section>

<section style="padding: 50px 0px 50px;" id="meet-team">
    <div class="container">
            {% set category = blogPosts.category %}
            {% set posts = blogPosts.posts %}

            <div class="col-md-9 left">

                <div class="col-md-12">
                    <h1 class="title">{{ category.name }} </h1>
                </div>

                {% for post in posts %}

                    <div class="col-md-12">
                        <div class="col-md-3">


                            <!-- <img src="{{ post.featured_images }}" class="img-responsive" alt="detail"> -->

                            {% for image in post.featured_images %}
                                <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" alt="{{ post.slug }}"></a>
                            {% endfor %}
                            
                        </div>

                        <div class="col-md-9 content">
                            
                            <h2>
                                {{ post.title }}
                                
                            </h2>
                            
                            <span>{{ post.published_at|date('d M, Y') }} Groupe, France | PDF - 117 Ko 

                            </span>
                            
                            <a href="{{ post.excerpt|raw }}" class="btn btn-primary"> {{'Telechager'|_}}   </a>
                        </div>


                        <div class="col-md-12" style="padding-right: 0px;">
                            <hr />    
                        </div>
                        
                    </div>
                {% endfor %}

                <!-- <div class="col-md-12">
                    <div class="col-md-3">
                        <img src="{{ 'assets/images/img-ct.jpg'|theme }}" class="img-responsive" alt="detail">
                    </div>

                    <div class="col-md-9 content">
                        <h2>Title</h2>
                        <span>21 mars 2018 dans Groupe, France | PDF - 117 Ko</span>
                        <a class="btn btn-primary"> Telechager </a>
                    </div>

                    <div class="col-md-12">
                        <hr />    
                    </div>
                    
                </div>
                
                <div class="col-md-12">
                    <div class="col-md-3">
                        <img src="{{ 'assets/images/img-ct.jpg'|theme }}" class="img-responsive" alt="detail">
                    </div>

                    <div class="col-md-9 content">
                        <h2>Title</h2>
                        <span>21 mars 2018 dans Groupe, France | PDF - 117 Ko</span>
                        <a class="btn btn-primary"> Telechager </a>
                    </div>
                    
                </div> -->

            </div>
                        
            <div class="col-md-3 right">

                
                {% partial 'listcategory' %}

            </div>            
        
    </div>
</section>