title = "Catagory blogs"
url = "/:slug/:page?"
layout = "default"



[blogPosts bloga]
postsPerPage = "3"
categoryFilter = "{{ :slug }}"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogPosts blogb] 

==
<?
    
    use RainLab\Blog\Models\Category;
    use RainLab\Blog\Models\Post;
    
    function onStart()
    {
        $this['categories'] = $catagories1 =  Category::where("parent_id",'=',NULL)->get();

        $this['categories2'] = Category::where("parent_id",'=',"11")->get();

        $countPosts = array();

        foreach ( $catagories1 as $catagory ) {

            $idCats =  array();

            $subcats = Category::where("parent_id",'=', $catagory->id  )->get();

            $this['slugCat'] = $catagory->slug;

            array_push($idCats, $catagory->id);


            foreach ( $subcats as $subcat ) {
                
                $subcats2 = Category::where("parent_id",'=', $subcat->id )->get();

                array_push($idCats, $subcat->id);

                foreach ( $subcats2 as $subcat2 ) {

                    array_push($idCats, $subcat2->id);

                }

            }

            $this['idCats'] = $idCats;

            $countPosts = Post::whereHas('categories', function ($query) {
                        $query->whereIn('category_id', $this['idCats']  )
                        ->groupBy('title');
                    })->get();

            $countPost[ $this['slugCat'] ][] = count($countPosts);

        }

        $this['countPosts'] = $countPost;

    }

    
?>
==
<style>
    ul.category-list li ul li { 
        display: none;
    }
</style>

{% set category = bloga.category %}

{% set posts = bloga.posts %}

{% put head %}
    <title>{{ category.name }}</title>
    <meta name="description" content="">

{% endput %}



<section id="get-in-touch" style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" >
    <div class="container" >
        <div class="section-header category"  >
            <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">{{ category.name }} </h2> 
            
           <!--  style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" -->

           
        </div>
    </div>
</section>


<section>
    {% partial 'filter' %}

</section>

<section style="padding: 50px 0px 50px;" id="meet-team">
    <div class="container">
            




            <div class="col-md-9 left">

                <div class="col-md-12">
                    <h1 class="title">{{ category.name }} </h1>
                </div>

                {% for post in posts %}
                    

                    <div class="col-md-12">
                        
                        <div class="col-md-3">


                            <!-- <img src="{{ post.featured_images }}" class="img-responsive" alt="detail"> -->

                            {% for image in post.featured_images %}
                                <a href="{{ post.url }}"><img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" alt="{{ post.slug }}"></a>
                            {% endfor %}
                            
                        </div>

                        <div class="col-md-9 content">
                            
                            <h2>
                                {{ post.title }}
                                
                            </h2>
                            
                            <span>{{ post.published_at|date('d M, Y') }} Groupe, France | PDF - 117 Ko 

                            </span>
                            
                            <a href="{{ post.excerpt|raw }}" class="btn btn-primary"> {{'Telechager'|_}}   </a>
                        </div>


                        <div class="col-md-12" style="padding-right: 0px;">
                            <hr />    
                        </div>
                        
                    </div>

                {% endfor %}

                <div class="col-md-12" style="text-align: center;">
                    {{ posts.render|raw }}
                </div>    
                
                

            </div>
                        
            <div class="col-md-3 right">
                
                {% partial 'listcategory' %}

            </div>            
        
    </div>
</section>