        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title text-center wow fadeInDown">{{ "Nos valeurs" |_}}</h2>
                <br>
                <p class="text-center">{{ "DFM est un groupe proposant des activités et des services en développement logiciel, ingénierie scientifique et informatique" |_}}</p>
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-12">
                    <div class="wow swing" data-wow-duration="3000ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/icon_1.png'|theme }}" alt="">
                        <strong>{{ "Qualité de service" |_}}</strong>
                        <p>{{ "100% de nos clients satisfaits" |_}}</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="wow swing" data-wow-duration="3000ms"       data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/icon_2.png'|theme }}" alt="">
                        <strong>{{ "Une présence internationale" |_}}</strong>
                        <p>{{ "France, Espagne, Vietnam, Brésil" |_}}</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="wow swing" data-wow-duration="3000ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/icon_3.png'|theme }}" alt="">
                        <strong>{{ "Sécurité Optimisée" |_}}</strong>
                        <p>{{ "Échanges de données100% sécurisée" |_}}</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="wow swing" data-wow-duration="3000ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/icon_4.png'|theme }}" alt="">
                        <strong>{{ "Adaptabilité" |_}}</strong>
                        <p>{{ "Ergonomie et design sont les clés d'un outil intuitif et à usage facilité" |_}}</p>
                    </div>
                </div>
            </div>
        </div>
