<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">{{ "DFM groupe" |_}}</h2>
                <p class="text-center wow fadeInDown">
                    {{ "DFM est un groupe proposant des activités et des services en développement logiciel, ingénierie scientifique et informatique. Au cœur des enjeux de nos clients, dans une relation de proximité, nos experts assisté de notre centre de développement en Asie accompagne les PME et grands comptes dans de nombreux secteurs et dans une large gamme de services :" |_ }} 
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4 wow bounceIn" style="overflow: hidden;" data-wow-duration="2000ms" >
                    <div class="content_service">
                        <a target="_blank" 
                            href="
                                {% if locale == 'fr' %} 
                                    {{ 'http://dfm-infotech.com/fr' }} 
                                {% elseif locale == 'en' %}
                                    {{ 'http://dfm-infotech.com/en' }}
                                {% elseif locale == 'vn' %}
                                    {{ 'http://dfm-infotech.com/vn' }}
                                {% endif %}
                            ">
                            <h4>{{ "Développement logiciel" |_}}</h4>
                        </a>
                        <hr>
                        <p class="subtitle_service">{{ "Web-applications, logiciels & systèmes connectés/embarqués" |_}}</p>
                        <hr>
                        <p>{{ "DFM propose une solution globale permettant d’assurer le développement de votre outil informatique dédié, connecté à votre environnement propre (serveur, smartphone etc). Des systèmes connectés/embarqués peuvent également la compléter." |_}}</p>
                    </div>
                    <a  target="_blank" 
                        href="
                        {% if locale == 'fr' %} 
                            {{ 'http://dfm-infotech.com/fr' }} 
                        {% elseif locale == 'en' %}
                            {{ 'http://dfm-infotech.com/en' }}
                        {% elseif locale == 'vn' %}
                            {{ 'http://dfm-infotech.com/vn' }}
                        {% endif %}
                        ">
                            <img class="hoverImg" width="100%" src="{{ 'assets/images/icon/pic_4x3_1.jpg'|theme }}">
                    </a>
                        
                </div>
                <div class="col-sm-4 wow bounceIn" style="overflow: hidden;" data-wow-duration="2000ms">
                    <div class="content_service">
                        <a  target="_blank" 
                            href="
                              {% if locale == 'fr' %} 
                                {{ 'http://dfm-vr.com/?lang=fr' }} 
                              {% elseif locale == 'en' %}
                                {{ 'http://dfm-vr.com/?lang=en' }}
                              {% elseif locale == 'vn' %}
                                {{ 'http://congnghethucteao.vn' }}
                              {% endif %}">
                            <h4>{{ "Réalité Virtuelle" |_}}</h4>
                        </a>
                        <hr>
                        <p class="subtitle_service">{{ "La VR comme outil au quotidien" |_}}</p>
                        <hr>
                        <p>{{ "DFM dispose des compétences R&D, d'ingénierie qui lui  permette de vous proposer des expériences VR à partir d’outils existants ou développés sur mesure." |_}}</p>
                    </div>
                   <a   target="_blank" 
                        href="
                          {% if locale == 'fr' %} 
                            {{ 'http://dfm-vr.com/?lang=fr' }} 
                          {% elseif locale == 'en' %}
                            {{ 'http://dfm-vr.com/?lang=en' }}
                          {% elseif locale == 'vn' %}
                            {{ 'http://congnghethucteao.vn' }}
                          {% endif %}

                        ">
                        <img class="hoverImg" width="100%" src="{{ 'assets/images/icon/pic_4x3_2.jpg'|theme }}">
                    </a>
                </div>
                <div class="col-sm-4 wow bounceIn" style="overflow: hidden;" data-wow-duration="2000ms">
                    <div class="content_service">
                        <a target="_blank" 
                            href="{% if locale == 'fr' %} 
                                    {{ 'http://dfm-engineering.com/fr' }} 
                                  {% elseif locale == 'en' %}
                                    {{ 'http://dfm-engineering.com/en' }}
                                  {% elseif locale == 'vn' %}
                                    {{ 'http://dfm-engineering.com/vi' }}
                                  {% endif %}
                                  ">
                                  <h4>{{ "Ingénierie technique & scientifique" |_}}</h4>
                        </a>
                        <hr>
                        <p class="subtitle_service">{{ "Calculs scientifiques dédiés" |_}}</p>
                        <hr>
                        <p>{{ "De la mécanique (conception- validation) à la mécanique des fluides tout en intégrant les couplages complexes, DFM se positionne comme un interlocuteur privilégié (aéronautique, défense, transport, énergie, …) en apportant une réponse dédiée et experte." |_}}</p>
                    </div>
                    <a  target="_blank" 
                        href="{% if locale == 'fr' %}
                                {{ 'http://dfm-engineering.com/fr' }}
                              {% elseif locale == 'en' %}
                                {{ 'http://dfm-engineering.com/en' }}
                              {% elseif locale == 'vn' %}
                                {{ 'http://dfm-engineering.com/vi' }}
                              {% endif %}
                        ">
                        <img class="hoverImg" width="100%" src="{{ 'assets/images/icon/pic_4x3_3.jpg'|theme }}">
                    </a>
                </div>
            
            </div>
        </div>