[blogCategories]

==

<ul class="category-list">
	{% for category in categories %}
        
    	<li {% if category.slug == currentCategorySlug %}class="active"{% endif %} >
    	    <a href="/{{category.slug}}">{{category.name}} 

                {% for key,countPost in countPosts %}
                    {% if(category.slug == key) %}
                       ( {{countPost[0]}} )
                    {% endif %}
                {% endfor %}
                    
                    
                
            </a> 
    	</li>

    {% endfor %}
</ul>

	


