<div id="owl-demo" class="owl-carousel owl-theme">
  <a class="item" href="https://www.airliquide.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/airliquide-logo.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.renault-trucks.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/RTD.png'|theme }}" alt=""></a>
  <a class="item" href="https://www.pharmavie.fr/"><img width="100%" src="{{ 'assets/images/page/reference/scale/pharmavie.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.beneteau.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/logo Beneteau.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.nvequipment.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/Logo-NV.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.sogefigroup.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/sogefi.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.sateco.fr/"><img width="100%" src="{{ 'assets/images/page/reference/scale/Sateco.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.defta.eu/fr/"><img width="100%" src="{{ 'assets/images/page/reference/scale/logo-defta.png'|theme }}" alt=""></a>
  <a class="item" href="https://actoat.fr"><img width="100%" src="{{ 'assets/images/page/reference/scale/actoat_logo1.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.ginger-cebtp.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/Ginger-CEBTP.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.mines-paristech.fr/"><img width="100%" src="{{ 'assets/images/page/reference/scale/ParisTech.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.valeo.com/"><img width="100%" src="{{ 'assets/images/page/reference/scale/logo-valeo.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.safran-group.com/fr"><img width="100%" src="{{ 'assets/images/page/reference/scale/safran-logo.png'|theme }}" alt=""></a>
  <a class="item" href="http://www.danielson-eng.fr/"><img width="100%" src="{{ 'assets/images/page/reference/scale/logo-danielson-engineering.png'|theme }}" alt=""></a>
 
</div>
<style type="text/css">
	#owl-demo .owl-item {
		margin: 10px;
	}
</style>