title = "Catagory blogs"

==

==
	

{% put head %}
    <title>{{ category.name }}</title>
    <meta name="description" content="">

{% endput %}


<style type="text/css" media="screen">
    .right {
        background-color: #ddd;
    }
    
    
</style>


<section id="get-in-touch" style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" >
    <div class="container" >
        <div class="section-header category"  >
            <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">{{ "filter"|_ }} </h2> 
            
           <!--  style="background-image: url({{'assets/images/banner-sub.jpg'|theme}});background-position: center;" -->

           
        </div>
    </div>
</section>

<section>
    {% partial 'filter' %}

</section>
	


<section style="padding: 50px 0px 50px;" id="meet-team">
    <div class="container">	

    		<div class="col-md-12">
			    <h1 class="title" style="text-transform: capitalize;"> {{'Filter'|_}}  </h1>
			</div>

			{% if posts == "[]" %}
		    	<div class="col-md-12">
			        <p>{{'No result'|_}}</p>
		    	</div>
			{% endif %}

		
		    <div class="col-md-9">
		    {% for post in posts %}
		        <div class="col-md-3">
		            {% for image in post.featured_images %}
	                    <a href="{{ post.url }}">
	                    	<img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" alt="{{ post.slug }}">
	                    </a>
	                {% endfor %}

		        </div>

		        <div class="col-md-9 content">
		            
		            <h2>
		                {{ post.title }} 
		            </h2>
		            
		            <span>{{ post.published_at|date('d M, Y') }} Groupe, France | PDF - 117 Ko</span>
		            
		            <a href="{{ post.slug }}" class="btn btn-primary"> {{'Telechager'|_}} </a>
		        </div>

		        <div class="col-md-12" style="padding-right: 0px;" >
		            <hr />    
		        </div>
			{% endfor %}

			<div class="col-md-12" style="text-align: center;">
				<ul class="pagination">

					{% if(currentPages>1)  %} 

						{% if(page > 1 )  %}
							<li>
								<a href="filter?activites={{activites}}&amp;themes={{themes}}&amp;year={{year}}&page={{page-1}}" rel="next">«</a>
							</li>
						{% else %}
							<li class="disabled"><span>«</span></li>
						{% endif %}


						{% for i in 1..currentPages %}
						<li {% if(i==page)  %} class="active" {% endif %} >
							<a href="filter?activites={{activites}}&amp;themes={{themes}}&amp;year={{year}}&page={{i}}" rel="prev">{{i}}</a>
						</li> 
						{% endfor %}

						
						{% if(page < currentPages )  %}
							<li>
								<a href="filter?activites={{activites}}&amp;themes={{themes}}&amp;year={{year}}&page={{page+1}}" rel="next">»</a>
							</li>
						{% else %}
							<li class="disabled"><span>»</span></li>
						{% endif %}

						

					{% endif %}
					

				</ul>

			</div>

		</div>
		    <div class="col-md-3 right">

                
                {% partial 'listcategory' %}

            </div>    
	</div>

		
</section>   
	

	