<div class="mailchimp" style="">
    <div class="col-md-3">
        <p> {{'Đăng ký nhận thông báo'|_}} </p>    
    </div>
    
    <div class="col-md-9">
        <form name="frmnewsletter" method="post" class="mailchimp-form" action="" novalidate="novalidate">	
            <input type="email" placeholder="Email" name="mc_email" required="">	
            <input type="submit" value="{{'Gửi'|_}}" class="nl-submit" name="btnsubscribe">
        </form>
    </div>
    <!-- <div id="ajax_subscribe_msg"></div> -->
</div>