 <!--footer-widgets-wrapper starts-->
                <div class="footer-widgets-wrapper">
                    <!--container starts-->
                    <div class="container">
                        
                        
                        <div class="col-md-6">
                            <aside class="widget widget_text">
                                <div class="widget_text_logo">
                                    <img src="{{'assets/images/san-pham/MHDinnoCare-min.png'|theme}}" alt="logo" title="">
                                   
                                    <div class="dt-sc-hr-invisible-very-small"></div>
                                    <p> {{'MHD InnoCare là một thành viên của MHD Group, mang sứ mệnh tiếp nối ứng dụng và kế thừa những thành tựu khoa học, phát triển những sản phẩm chăm sóc sức khỏe, đáp ứng nhu cầu điều trị cho bệnh nhân và cộng đồng'|_}}. 
                                    <br/>
                                    <a style="margin:0px;" href=""> <strong> {{'Tìm hiểu thêm về MHD Group'|_}} <span class="fa fa-angle-double-right"></span> </strong> </a>
                                    </p>
                                    
                                </div>
                            </aside>
                        </div>
                        
                        <div class="col-md-6 " style="margin-top: 20px;" >
                            <aside class="widget widget_text">
                            <h3 class="">{{'Thông tin liên hệ'|_}}</h3>
                                <p class="title">Công ty cổ phần mhd Innocare</p>
                                <div class="textwidget">
                                    
                                    <p class="dt-sc-contact-info"><i ><img src="{{'assets/images/san-pham/dia-chi-min.png'|theme}}" alt="dia-chi"></i>{{'9B8-C9, đường số 10, KDC Dương Hồng Garden House, xã Bình Hưng, huyện Bình Chánh, TP. Hồ Chí Minh, Việt Nam'|_}}</p>

                                    <p class="dt-sc-contact-info"><span><i ><img src="{{'assets/images/san-pham/dien-thoai-min.png'|theme}}" alt="dia-chi"></i></span> (84) 028 6680 8366 </p>
                                    
                                    <p class="dt-sc-contact-info"><span><i><img src="{{'assets/images/san-pham/email-min.png'|theme}}" alt="dia-chi"></i></span><a href="mailto:contact@mhdinocare.com"> contact@mhdinocare.com </a></p>
                                    
                                </div>
                            </aside>
                        </div>
                        
                        
                        
                    </div>    
                    <!--container ends-->
                </div>
                <!--footer-widgets-wrapper ends-->  
                <div class="copyright">
                    <div class="container">
                        <div class="copyright-info">Copyright © 2018 MHD InnoCare. All Rights Reserved. 
                        </div>
                        
                        
                    </div>
                </div>  