<header>
                <!--top-bar starts fa fa-phone-->
                <div class="top-bar">
                    <div class="container">
                        
                    </div>
                </div>
                
                <!--top-bar ends-->
                <div class="container" style="position: relative;">
                    <div class="logo">
                        <a href="/" title="">
                            <img src="{{'assets/images/san-pham/MHDinnoCare-min.png'|theme}}" alt="logo" title="">
                        </a>
                    </div>
                    <div class="alignright">
                        
                        <form method="get" id="searchform" action="">
                            <div class="wrap-search">
                                <input id="s" name="s" type="text" value="{{'Tìm kiếm...'|_}}" class="text_input"  >
                                <input class="search" name="submit" type="submit" value="">
                            </div>

                        </form>

                        <div class="dt-sc-contact-number">
                            <span class=""><img src="{{'assets/images/icon-phone.jpg'|theme}}" alt="icon-phone"></span>
                            <span class="tuvan">{{'Tư Vấn Miễn Phí'|_}}</span>
                        </div>
                    </div>
                </div>
                <!--menu-container starts-->
                <div id="menu-container-sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
                	<div id="menu-container">
	                    <div class="container">
	                        <!--nav starts-->
	                        <nav id="main-menu">
	                            <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
	                            <!-- <ul id="menu-main-menu" class="menu">
	                                <li class="current_page_item"> <a href="http://wedesignthemes.com/html/attorney/index.html"> Home </a> </li>
	                                
	                                <li class="menu-item-simple-parent menu-item-depth-0 hasSubmenu"> <a href="http://wedesignthemes.com/html/attorney/shortcodes.html"> Shortcodes </a> 
	                                    <ul class="sub-menu">
	                                        <li> <a href="http://wedesignthemes.com/html/attorney/shortcodes.html"> Typography </a> </li>
	                                       
	                                    </ul>  
	                                    <a class="dt-menu-expand">+</a>                      
	                                </li>
	                                <li><a href="http://wedesignthemes.com/html/attorney/location.html" title="">Location</a></li>
	                            </ul> -->
                                {% component "menu" %}

	                        </nav>

                            

	                        <!--nav ends-->
	                       
	                    </div>
	                </div>
	            </div>
                <!--menu-container ends-->
            </header>