<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>{{ this.page.meta_title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <!-- <title>DFM</title> -->
    <!-- core CSS -->
    <link href="{{ [
            'assets/css/bootstrap.min.css',
            'assets/css/style.css',
            'assets/css/shortcodes.css',
            'assets/css/responsive.css',
            'assets/css/layerslider.css',
            'assets/css/font-awesome.min.css',
            'assets/css/style(1).css',
            'assets/css/custom.css'
        ]|theme }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{{ 'assets/images/logo.ico'|theme }}">

    <!--Fonts-->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    
    <!--jquery-->
    

</head><!--/head-->

