  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home"><img src="{{ 'assets/images/logoDFM.png'|theme }}" alt="logo"></a>
    </div>


    <div class="collapse navbar-collapse js-navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li>
            <a class="drop" href="/">Accueil</a>
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services & Solutions<span class="glyphicon glyphicon-chevron-down"></span></a>

          <ul class="dropdown-menu mega-dropdown-menu row">
            <li class="col-sm-3 col-sm-offset-1">
              <ul>
                <li class="dropdown-header"><a href="/services-solutions/developpement-logiciel"><h4>Développement logiciel</h4></a></li>
                <li><a href="/services-solutions/developpement-logiciel/#application-mobile">Application mobile</a></li>
                <li><a href="/services-solutions/developpement-logiciel/#logiciel-dedie">Logiciel dédié</a></li>
                <li><a href="/services-solutions/developpement-logiciel/#infogerance">Infogérance</a></li>
                <li><a href="/services-solutions/developpement-logiciel/#systeme-connecte-embarque">Système connecté & embarqué</a></li>
              </ul>
            </li>
            <li class="col-sm-3 col-sm-offset-1">
              <ul>
                <li class="dropdown-header"><a href="/services-solutions/realite-virtuelle/"><h4>Réalité Virtuelle</h4></a></li>
                <li><a href="/services-solutions/realite-virtuelle/#visite-3D">Visite 3D 360°</a></li>
                <li><a href="/services-solutions/realite-virtuelle/#visite-vr-temps-reel">Visite VR temps réel</a></li>
                <li><a href="/services-solutions/realite-virtuelle/#outils-conception-vr">Outils conception VR</a></li>
                <li><a href="/services-solutions/realite-virtuelle/#realite-augmentee">Réalité Augmentée</a></li>
              </ul>
            </li>
            <li class="col-sm-3 col-sm-offset-1">
              <ul>
                <li class="dropdown-header"><a class="navigationMenu" href="/services-solutions/ingenierie-technique-scientifique-virtuelle/"><h4>Ingénierie Technique</h4></a></li>
                <li><a class="navigationMenu" href="/services-solutions/ingenierie-technique-scientifique-virtuelle/#cao-maillage">CAO/maillage</a></li>
                <li><a class="navigationMenu" href="/services-solutions/ingenierie-technique-scientifique-virtuelle/#calcul-scientifique">Calcul scientifique</a></li>
                <li><a class="navigationMenu" href="/services-solutions/ingenierie-technique-scientifique-virtuelle/#hpc-codes-dedies">HPC & Codes dédiés</a></li>
                <li><a class="navigationMenu" href="/services-solutions/ingenierie-technique-scientifique-virtuelle/#modelisation-avancee">Modélisation avancée</a></li>
              </ul>
            </li>
          </ul>
        </li>
            <li><a href="/" class="drop">Contact</a></li>
      </ul>

    </div>
    <!-- /.nav-collapse -->
    </div>
  </nav>

