title = "Nhung cau hoi thuong gap"
url = "/hoi-dap-tai-lieu/nhung-cau-hoi-thuong-gap"
layout = "default"
meta_title = "Những câu hỏi thường gặp "
meta_description = "Những câu hỏi thường gặp"
is_hidden = 0


[FaqAsk]

[FaqAll]
limit = 10
==

{% put head %}
    <title>Những câu hỏi thường gặp</title>
    <meta name="description" content="">
{% endput %} 

<div class="wrapper">
        <!--inner-wrapper starts-->
        <div class="inner-wrapper">
            <!--header starts-->
            {% partial "header" %}
            <!--header ends-->
            <!--main starts-->
            <div id="main">
            

                <!--slider starts-->
                
                <!-- <div id="slider">
                    <img src="{{'assets/images/slider1-bg1.jpg'|theme}}" alt="slide" />
                  
                </div> -->
                
                <!--slider ends-->
    
                <!--primary starts-->
                <section class="breadcrumb">
                    <div class="container">
                        {% set post = blogPost.post %}
                        <div class="">
                            <a href="/">Trang chủ</a> >

                            <a href="#">Hỏi đáp tài liệu</a> >

                            <a href="#" title=""><h1>Những câu hỏi thường gặp</h1></a>
                        </div>
                    </div>

                </section>

               
                <section id="khoahoc" >
                    <!--container starts-->
                    
                    <div class="container">
                        <div class="row">
                                                            
                                <!--dt-sc-toggle-frame-set starts -->
                                {% set faqs = FaqAll.faqs %}

                                <div class=" dt-sc-toggle-frame-set faq">
                                {% for faq in faqs %}
                                
                                    
                                    
                                    
                                    <h5 class="dt-sc-toggle-accordion">

                                    <a href="#"> 
                                    <p>{{ faq.name }} | {{ faq.created_at|date("d-m-Y")}}</p>    
                                        
                                        <!-- Hỏi cách sử dụng cao nấm trùng thảo hiệu qủa cho người lớn tuổi?  -->
                                    <p>
                                        {{ faq.question }} 

                                        {% if faq.answer %}

                                            <span class="error"><i>({{'Đã trả lời'|_}})</i></span>
                                        

                                        {% endif %}    

                                    </p>
                                    </a>
                                    

                                    </h5>
                                    



                                    <div class="dt-sc-toggle-content" style="display: none;">
                                        <div class="dt-sc-block short" style="margin-top: 20px;padding-left: 15px;">
                                            <!-- Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam imperdiet, elit ut pellentesque adipiscing tristique senectus  -->

                                        {{ faq.answer|md }}

                                        </div>
                                    </div>
                                    
                                

                                {% endfor %}
                                </div>
                                <!--dt-sc-toggle-frame-set ends-->
                        </div>
                    </div>

                    <div class="container ask">
                        
                       
                        <h3 class="">{{'Câu hỏi của bạn'|_}}</h3>
                        
                        <div class="row">
                            {% component 'FaqAsk' %}
                        
                        </div>

                        <!-- <h2 class="dt-sc-hr-title"><span> {{post.title}} </span> </h2> -->
                        
                        <!-- <p class="aligncenter no-transform"> {{post.excerpt}} </p> -->
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        
                            
                        
                        
                        <!-- <div class="dt-sc-hr-invisible-medium"></div> -->
                        
                        <!-- <div class="dt-sc-hr-image"></div> -->
                        
                        <!-- <div class="dt-sc-hr-invisible"></div> -->
                	</div>
                </section>


                

                <section class="">
                	<div class="container">
                       
                        <!--dt-sc-one-half ends-->
                        
                        <!--dt-sc-one-half starts-->
                       
                        <!--dt-sc-one-half ends--> 
                        <div class="dt-sc-clear"></div>
                        <div class="dt-sc-hr-invisible-very-large"></div>
                         


                        <div class="col-md-12" style="text-align: center;">
                            <img src="{{'assets/images/center_align_image.png'|theme}}">
                        </div>




                       
                        <!--dt-sc-one-fourth ends-->
                        <div class="dt-sc-hr-invisible-large"></div> 

                       
                        {% partial "dang-ky-thong-bao" %}
                        
                    </div>
                        
                    <!--container ends-->
                </section>
                <!--primary ends-->  
                           
                <!--office_locations starts-->
                
                <!--office_locations ends-->
                
            </div>
            <!--main ends-->
        </div>
        <!--inner-wrapper ends-->    
    </div>

{% put scripts %}
    <script type="text/javascript" >
        
        jQuery(document).ready(function($){
          //you can now use $ as your jQuery object.
            $('h5').removeClass( "active" );
        });
    </script>
{% endput %}