.container {
	/*background-color: #2f85b6;*/
	/*background-image: url(images/bg.jpg);*/
	/*background: url(images/bg.jpg) no-repeat;*/
	background: url("images/img.jpg") no-repeat center center fixed; 
	width: 100%;
	height: auto;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.template-1 {
	width: 45%;
	text-align: center;
	margin: auto;
	position: relative;
}

.template-2 {
	width: 100%;
	text-align: center;
	margin: auto;
	position: relative;
}

.dfm-img {
	position: relative;
}

.dfm-img-left {
	float: left;
	width: 50%;
}

.dfm-img-right {
	float: right;
	width: 50%;
}

.dfm-img img {
	width: 100%;
}

.dfm-text {
	position: absolute;
	margin: auto;
	top: 30px;
	color: #fff;
	font-size: 25px;
}

.dfm-text-left {
	margin: auto;
	top: 30px;
	color: #fff;
	font-size: 25px;
	float: right;
	width: 50%;
}

.dfm-text-right {
	margin: auto;
	top: 30px;
	color: #fff;
	font-size: 25px;
	float: left;
	width: 50%;
}

.dfm-content {
	padding-top: 40px;
}

.dfm-text-o {
	color: #000;
	position: absolute;
	margin: auto;
	top: 30px;
	font-size: 25px;
}

.dfm-text-cotent {
	padding-top: 20px;
	text-align: left;
	margin: 10px;
}

.dfm-logo {
	text-align: right;
	margin: auto;
}

.dfm-logo img {
	padding-right: 20px;
	display: inline;
}

.dfm-logo-left {
	text-align: center;
	margin: auto;
}

.dfm-logo-left img {
	padding: 20px;
	display: inline;
}

.dfm-text-t {
	font-size: 25px;
	font-weight: 600;
}

.dfm {
	color: #000;
	padding: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 1300px) { 
	.dfm-text {
		font-size: 20px;
	}
	.dfm-text-cotent {
		font-size: 18px;
		padding-top: 10px;
	}

	.dfm-text-o {
		font-size: 20px;
	}

	.dfm {
 		font-size: 12px;

 	}

 	.dfm-text-t {
		font-size: 20px;
		font-weight: 600;
	}
}

@media only screen and (max-width: 900px) { 
	.dfm-text {
		font-size: 15px;
	}
	.dfm-text-cotent {
		font-size: 15px;
		padding-top: 10px;
	}

	.dfm-text-o {
		font-size: 15px;
	}

	.dfm {
 		font-size: 10px;

 	}
}
