.container {
	background-color: #fff;
	/*background-image: url(images/bg.jpg);*/
	/*background: url(images/bg.jpg) no-repeat;*/
	/*background: url("images/img.jpg") no-repeat center center fixed; */

	width: 100%;
	height: auto;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.template-1 {
	width: 45%;
	text-align: center;
	margin: auto;
	position: relative;
}

.dfm-text-t {
	font-size: 25px;
	font-weight: 600;
}

.template-2 {
	width: 100%;
	text-align: center;
	margin: auto;
	position: relative;
}

.dfm-img {
	position: relative;
}

.dfm-img-left {
	float: left;
	width: 50%;
}

.dfm-img-right {
	float: right;
	width: 50%;
}

.dfm-img img {
	width: 100%;
}

.dfm-text {
	position: absolute;
	margin: auto;
	top: 10px;
	color: #fff;
	font-size: 20px;
}

.dfm-text-left {
	margin: auto;
	top: 10px;
	color: #2f85b6;
	font-size: 20px;
	float: right;
	width: 50%;
}

.dfm-text-right {
	margin: auto;
	top: 10px;
	color: #2f85b6;
	font-size: 20px;
	float: left;
	width: 50%;
}

.dfm-text-o {
	color: #000;
	position: absolute;
	margin: auto;
	top: 10px;
	font-size: 20px;
}

.dfm-text-cotent {
	padding-top: 15px;
	text-align: left;
	margin: 10px;
	padding-left: 20px;
}

.dfm-logo {
	text-align: right;
	padding-top: 0px;
	margin: auto;
}

.dfm-logo img {
	padding: 0px;
	margin: 0px 10px;
	display: inline;
}

.dfm-logo-left {
	text-align: right;
	margin: auto;
}

.dfm-logo-left img {
	padding: 20px;
}

.text-right {
	width: 80%;
	text-align: center;
}

.dfm {
	color: #000;
	padding: 10px;
    font-size: 15px;
}

@media only screen and (max-width: 1300px) {
 	.dfm-text-t {
 		font-size: 15px;
 	}

 	.dfm-text {
 		font-size: 15px;
 	}
}

@media only screen and (max-width: 1000px) {
 	.dfm-text-t {
 		font-size: 15px;
 	}

 	.dfm-text {
 		font-size: 10px;
 	}
}